@font-face {
  font-family: "Palosecco";
  font-weight: 400;
  src: url("../../assets/fonts/PalosecoLightItalic-Oxwo.ttf") format("truetype");
}

@font-face {
  font-family: "Palosecco";
  font-weight: 700;
  src: url("../../assets/fonts/PalosecoMediumItalic-3Vmy.ttf")
    format("truetype");
}
