// .page-wrapper {
//     margin-top: 3rem;
//     box-shadow: 10px 5px 5px red;
//     color: black;
//     background-color: whitesmoke;
//     border: transparent;
//     border-radius: 10px;
// }
.page-wrapper {
  width: 100%;
}
.auth-form {
  &__container {
    display: flex;
    flex-direction: column;
    padding: 5rem;
  }
  &__title-wrapper {
    display: flex;
  }
  &__app-title {
    font-size: 6rem;
    margin-bottom: 5rem;
  }

  &__login {
    display: flex;
    flex-direction: column;
    padding: 5rem;
  }
  &__header {
    margin-top: 2rem;
    font-family: "Palosecco";
  }

  &__label {
    text-align: left;
    padding: 0.25rem 0;
    font-family: "Palosecco";
  }
  &__input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    width: 100%;
    font-family: "Palosecco";
  }
  &__btn {
    border: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #7439db;
    margin-top: 2rem;
    width: 100%;
    font-family: "Palosecco";
  }
}
.zoom:hover {
  transform: scale(1.5);
}
