.audition {
  &__card-component {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 4rem;
    padding: 0 1.5rem 1.5rem;
    border-bottom: 1px solid #dddddd;
  }
  &__card-left {
    flex: 1 1;
  }
  &__card-right {
    flex: 1 1;
  }

  &__info {
    flex: 1;
  }
}
