.audition-list {
  display: flex;

  &__component {
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;

    color: black;
    background-color: whitesmoke;
    border: transparent;
    border-radius: 19px;

    border-collapse: collapse;

    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  &__row:nth-child(odd) {
    background-color: aquamarine;
  }
  &__label {
    display: flex;

    font-weight: 600;
    font-size: 1.5rem;
    background-color: #010f0c;
    color: #ffffff;
  }
  &__label-item {
    flex: 1;
  }
}

.audition {
  &__info {
    padding: 0.5rem;
  }
}
