.search {
  &__input {
    display: flex;
    justify-content: center;
  }

  &__field {
    // background-image: url(../../assets/icons/search-24px.svg);
    background-position: 5% 50%;
    background-repeat: no-repeat;
    background-color: whitesmoke;
    border: 0;
    border-radius: 2px;
    padding: 0.5rem;
    height: 2rem;
    width: 12.3rem;
    border: solid 1px lightsteelblue;
    border-radius: 10px;
    color: black;
    text-indent: 2rem;
    font-size: 1.2rem;
  }
  &__button {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("../../assets/icons/search-24px.svg");
    cursor: pointer;
    opacity: 0.7;
  }
}
