.search {
  &__input {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
  }

  &__field {
    background-color: whitesmoke;
    border: 0;
    border-radius: 2px;
    padding: 0.5rem;
    height: 1rem;
    width: 16rem;
    border: solid 1px lightsteelblue;
    border-radius: 10px;
  }
}
